.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 42;
    horizontal-align: center;
}

image {
    width: 300;
    height: 300;
}

.smallImage {
    width: 60;
    height: 60;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}
